* {
    background-color: #1f1f1f;
    color: #d3d3d3;
}

a,
.link {
    color: #e7aca8;
}

.title,
.congratulations {
    text-align: center;
}


.about {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    border: 1px solid #d3d3d3;
}

.ingredients {
    border: 1pc solid red;
}